$color-cyan: hsl(185, 75%, 39%);
$color-blue--dark: hsl(229, 23%, 23%);
$color-blue--grayish: hsl(227, 10%, 46%);
$color-gray: hsl(0, 0%, 59%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.8rem;
  height: 100vh;
  background-color: $color-cyan;
  padding: 1.8rem;
  display: grid;
  place-items: center;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
  }

  &::before {
    bottom: 0;
    right: 0;
    background: url(../images/bg-pattern-bottom.svg);
  }

  &::after {
    top: 0;
    left: 0;
    background: url(../images/bg-pattern-top.svg);
    background-position: bottom right;
    z-index: 0;
  }
}

.profile {
  width: 100%;
  max-width: 35rem;
  background-color: white;
  padding-top: 8.2rem;
  border-radius: 1.6rem;
  overflow: hidden;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0.5rem 2rem rgba($color-blue--dark, 0.25);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 13.5rem;
    background: url(../images/bg-pattern-card.svg);
    z-index: 1;
  }

  &__pic {
    width: fit-content;
    margin-bottom: 1.8rem;
    border: 5px solid white;
    border-radius: 50%;
    z-index: 2;
  }

  .flex-group {
    display: flex;
    gap: 1.2rem;
    margin-bottom: 1rem;
  }

  &__name {
    font-size: 1.8rem;
    font-weight: 700;
    color: $color-blue--dark;
  }

  &__age {
    font-weight: 400;
    color: $color-blue--grayish;
  }

  &__place {
    font-size: 1.6rem;
    color: $color-blue--grayish;
    margin-bottom: 2.4rem;
  }

  &__stats {
    width: 100%;
    padding: 2rem 0;
    border-top: 1px solid lighten($color-gray, 30%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

.stat {
  &__number {
    font-weight: 700;
    color: $color-blue--dark;
    margin-bottom: 0.4rem;
  }

  &__text {
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: $color-blue--grayish;
  }
}
